## Group By functinalities in spark dataframe

In [2]:
import findspark
findspark.init('/home/amit/spark-2.1.0-bin-hadoop2.7')

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Group').getOrCreate()

In [5]:
spark?

In [10]:
df = spark.read.csv('./Python-and-Spark-for-Big-Data-master/Spark_DataFrames/sales_info.csv',inferSchema=True, header=True)

In [11]:
df.columns

['Company', 'Person', 'Sales']

In [12]:
df.printSchema()

root
 |-- Company: string (nullable = true)
 |-- Person: string (nullable = true)
 |-- Sales: double (nullable = true)

In [13]:
df.head(2)

[Row(Company='GOOG', Person='Sam', Sales=200.0),
 Row(Company='GOOG', Person='Charlie', Sales=120.0)]

In [16]:
df.count()

12

In [14]:
df.show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   GOOG|  Frank|340.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
|   MSFT|Vanessa|243.0|
|     FB|   Carl|870.0|
|     FB|  Sarah|350.0|
|   APPL|   John|250.0|
|   APPL|  Linda|130.0|
|   APPL|   Mike|750.0|
|   APPL|  Chris|350.0|
+-------+-------+-----+

In [19]:
df.groupBy('company')

In [27]:
print(df.groupBy('company').mean().show())
print(df.groupBy('company').max().show())
print(df.groupBy('company').min().show())
print(df.groupBy('company').sum().show())
print(df.groupBy('company').count().show())

+-------+-----------------+
|company|       avg(Sales)|
+-------+-----------------+
|   APPL|            370.0|
|   GOOG|            220.0|
|     FB|            610.0|
|   MSFT|322.3333333333333|
+-------+-----------------+

None
+-------+----------+
|company|max(Sales)|
+-------+----------+
|   APPL|     750.0|
|   GOOG|     340.0|
|     FB|     870.0|
|   MSFT|     600.0|
+-------+----------+

None
+-------+----------+
|company|min(Sales)|
+-------+----------+
|   APPL|     130.0|
|   GOOG|     120.0|
|     FB|     350.0|
|   MSFT|     124.0|
+-------+----------+

None
+-------+----------+
|company|sum(Sales)|
+-------+----------+
|   APPL|    1480.0|
|   GOOG|     660.0|
|     FB|    1220.0|
|   MSFT|     967.0|
+-------+----------+

None
+-------+-----+
|company|count|
+-------+-----+
|   APPL|    4|
|   GOOG|    3|
|     FB|    2|
|   MSFT|    3|
+-------+-----+

None

In [28]:
df.agg({'Sales':'sum'}).show()

+----------+
|sum(Sales)|
+----------+
|    4327.0|
+----------+

opeating over groupData object

In [30]:
group_data = df.groupBy('company')

In [31]:
group_data.agg({'Sales':'sum'}).show()

+-------+----------+
|company|sum(Sales)|
+-------+----------+
|   APPL|    1480.0|
|   GOOG|     660.0|
|     FB|    1220.0|
|   MSFT|     967.0|
+-------+----------+

#### Import functions in spark

In [32]:
from pyspark.sql.functions import countDistinct, stddev, avg

In [35]:
df.select(avg('Sales').alias('aveg_sales')).show()

+-----------------+
|       aveg_sales|
+-----------------+
|360.5833333333333|
+-----------------+

In [36]:
df.select(stddev('Sales').alias('Sales_stddev')).show()

+------------------+
|      Sales_stddev|
+------------------+
|250.08742410799007|
+------------------+

In [37]:
from pyspark.sql.functions import format_number

In [41]:
df.select([format_number(stddev('Sales'),2).alias('Sales_stddev'),]).show()

+------------+
|Sales_stddev|
+------------+
|      250.09|
+------------+

#### Order by in DataFrame

In [43]:
df.orderBy(['Sales','Company'], ascending=[0,1]).show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|     FB|   Carl|870.0|
|   APPL|   Mike|750.0|
|   MSFT|   Tina|600.0|
|   APPL|  Chris|350.0|
|     FB|  Sarah|350.0|
|   GOOG|  Frank|340.0|
|   APPL|   John|250.0|
|   MSFT|Vanessa|243.0|
|   GOOG|    Sam|200.0|
|   APPL|  Linda|130.0|
|   MSFT|    Amy|124.0|
|   GOOG|Charlie|120.0|
+-------+-------+-----+